<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
    <div id="app">
        <h1>TO DO LIST</h1>
        <input v-model="newTask" type="text">
        <button @click="aggiungiTask">Aggiungi task</button>
        <ul>
            <li :class="check == true ? 'sbarrata'" v-for="toDo in listaTodo">
                {{toDo}}
                <button @click="fatto">X</button>
            </li>
        </ul>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/style.js"></script>
</body>
</html>